.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*
spot.iml

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/


## Images
tiqsimg
##Uploads
uploads/qrcodes/*

##Sessions
system/sessions/

##Logs
application/logs/

##Htaccess
.htaccess

##Constants
application/config/constants.php

##
db