.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*
spot.iml

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/


## Images
tiqsimg
##Uploads
uploads/qrcodes/*
uploads/floorPlans

## vendor logos
assets/images/vendorLogos
assets/images/categories_images
##Sessions
system/sessions/

##Logs
application/logs/

##Htaccess
.htaccess

##Constants
application/config/constants.php

##
db

receipts

## product images
assets/images/productImages
assets/images/defaultProductsImages

## flags
assets/images/flags

application/tiqs_logs/

assets/csv/

assets/images/placeImages

assets/paynlCsv

assets/images/backGroundImages

reportes
reportes/pos
reportes/finance

*.txt

assets/images/email_images

assets/landing_pages

assets/pdf

application/session

application/controllers/Api/Devtesting.php

assets/images/events