
    @import url("https://fast.fonts.net/lt/1.css?apiType=css&c=f98384f2-47d2-4642-aecf-2e7d78ccc4f4&fontids=692088");
    @font-face{
        font-family:"Century Gothic W01";
        src:url("Fonts/692088/bd45538f-4200-4946-b177-02de8337032d.eot?#iefix");
        src:url("Fonts/692088/bd45538f-4200-4946-b177-02de8337032d.eot?#iefix") format("eot"),url("Fonts/692088/700cfd4c-3384-4654-abe1-aa1a6e8058e4.woff2") format("woff2"),url("Fonts/692088/9908cdad-7524-4206-819e-4f345a666324.woff") format("woff"),url("Fonts/692088/b710c26a-f1ae-4fb8-a9fe-570fd829cbf1.ttf") format("truetype");
    }
