.header {
    position: relative;
}
footer {
    display: none;
}

.hideFieldsets {
    /* visibility: hidden;
    height: 0px;
    width: 0px; */
    display: none;
}

.showFieldsets {
    /* visibility: visible;
    height: initial;
    width: initial; */
    display: block;
}