.flatpickr-calendar{
    font-family: 'caption-light', sans-serif !important;
}
.flatpickr-input{
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: var(--button-radius);
    width: 100%;
    font-family: 'caption-light', sans-serif;
    outline: none;
}
.flatpickr-calendar{
    font-family: 'caption-light', sans-serif !important;
}
.flatpickr-input{
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: var(--button-radius);
    width: 100%;
    font-family: 'caption-light', sans-serif;
}
.connectedSortable {
    border: 1px solid #bebebe;
	background-color: #eee;
    width: 46%;
    min-height: 300px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
	margin-bottom: 10px;
  }
  .connectedSortable li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: auto;
  }
  .h1 {
	font-size: 28px;
	color: #000;
  }