@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;1,300&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;1,300&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}


body{
	font-family: 'Montserrat', sans-serif ;
}

/* typography */

h1{
	font-weight: 700;
}

h2{
	font-size: 42px;
	font-weight: bold;
}

/* colors */
:root{
	--color-primary: #7855c4;
	--color-secondary: #ea2251;
}

.color-primary{
	color: var(--color-primary);
}

.bg-primary{
	background-color: var(--color-primary) !important;
}

.btn.bg-primary:hover{
	background-color: var(--color-primary) !important;
}

.bg-secondary{
	background-color: var(--color-secondary) !important;
}

.btn.bg-secondary:hover{
	background-color: var(--color-primary) !important;
}

.navbar-toggler.bg-secondary:hover{
	background-color: var(--color-secondary) !important;
}

.btn{
	border: none !Important;
}

.color-secondary{
	color: var(--color-secondary);
}

/* header */

.header{
	box-shadow: 0 0 12px 2px #00000014;
	z-index: 9999999;
}
.header .navbar{
	padding-top: 15px;
	padding-bottom: 15px;
}

.header .navbar-brand img{
	max-height: 50px;
}

.header .nav-link{
	color: rgba(34, 34, 34, 0.7);
	font-size: 16px;
}

.navbar-toggler{
	outline: none !important;
	box-shadow: none !important;
	border: none !important;
}

.navbar-toggler[aria-expanded='false']:after{
	content:"\f0c9";
	font-weight: 900;
	font-family: FontAwesome;
	color: #fff;
}

.navbar-toggler[aria-expanded='true']:after{
	content:"\f00d";
	font-weight: 900;
	font-family: FontAwesome;
	color: #fff;
}
/* hero section */

.hero-section{
	padding-top: 140px;
    padding-bottom: 70px
	/*background: url(images/food.jpg);
	background-size: cover;
	background-position: center right;*/
}

.hero__background{
	position: absolute;
	height: 100%;
	width: 50%;
	right: 0;
	top: 0;
	clip-path: polygon(51% 12%, 85% 1%, 100% 0, 100% 59%, 75% 88%, 0 100%, 0 100%, 16% 41%, 0 12%);
    -webkit-clip-path: polygon(51% 12%, 85% 1%, 100% 0, 100% 59%, 75% 88%, 0 100%, 0 100%, 16% 41%, 0 12%);
	z-index: -1;
}

.hero__background img{
	width: 100%;
	object-fit: cover;
	height: 100%;
}
/* item grid */

.single-item__grid{
	margin-top: 50px;
	margin-left: 0;
	margin-right: 0;
	padding: 20px 10px;
	box-shadow: 0 0 12px 2px #00000014;
	margin-top: 100px;
	background-color: white;
	border-radius: 8px;
	z-index: 9;
}

.single-item__grid > div{
	padding: 0 10px;
}

.single-item{
	font-size: 14px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	border-radius: 4px;
	overflow: hidden;
}

.single-item__image{
	position: relative;
	height: 100%;
	display: flex;
    align-items: center;
	flex-direction: column;
    justify-content: center;
    overflow: hidden;
	padding: 25px 15px 15px;
	background: #fff;
    border-radius: 8px;
    border: 1px solid #dadada;
	transition: 0.3s all;
}

.category-slider .splide__slide.is-active .single-item__image{
	background-color: var(--primary);
}

.single-item__image img{
    max-width: 100%;
    object-fit: cover;
    min-width: 100%;
    min-height: 80%;
	border-radius: 6px;
}

.single-item__promotion{
	font-size: 16px;
    font-weight: 500 !important;
    padding: 10px 13px;
	font-weight: 500;
	text-transform: uppercase;
	transition: 0.4s;
}

.category-slider .splide__slide.is-active .single-item__image .single-item__promotion{
	color: white;
}

.single-item:hover .single-item__promotion{
	padding-top: 10px;
}

.single-item__content{
	color: black;
	margin-top: 5px;
}

.single-item__content p{
	font-weight: 500;
	font-size: 15px;
}
.single-item__discount{
	text-decoration: line-through;
	opacity: 0.3;
	font-weight: 500;
}

.single-item__price{
	opacity: 0.7;
	font-weight: 500;
}

/* quantity section */
.quantity-section{
	display: flex;
	margin-top: 10px;
}

.quantity-button {
	padding: 5px 10px;
	background-color: var(--color-secondary);
	color: white;
	border-radius: 2px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	border: none;
	box-shadow: none;
	appearance: none;
    -moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 4px;
}

.quantity-button:hover{
	color: white;
	text-decoration: none;
	background-color: var(--color-primary);
}

.quantity-input{
	font-size: 12px;
	margin: 0 5px;
	max-width: 34px;
    text-align: center;
	border-radius: 2px;
	border: 1px solid #80808085;
	border-radius: 4px;
}

/* Chrome, Safari, Edge, Opera */
.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* menu list */
.row-menu{
	margin-top: 80px;
}

.row-menu h2{
	font-size: 32px;
}

.menu-list{
	
}

.menu-list__item{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #cfcfcf;
	padding: 15px 0;
	font-size: 14px;
}

.menu-list__item p{
	margin-bottom: 0;
	margin-right: 10px;
	margin-bottom: 10px;
}

.menu-list__item b{
	text-transform: uppercase;
	letter-spacing: 1.0px;
}

.menu-list__title,
.menu-list__price{
	margin-bottom: 6px;
}

.menu-list__title{
	margin-bottom: 5px;
	display: block;
}

.menu-list__price{
	display: flex;
	padding-left: 20px;
}

.menu-list__price--regular{
	
}

.menu-list__price--stroke{
	text-decoration:line-through;
}

.menu-list__price--discount{
	color: var(--color-primary);
	margin-left: 5px;
}

.menu-list__ingredients{
	color: rgba(34, 34, 34, 0.7);
	display: inline-block;
	font-size: 15px;
	margin-bottom: 3px !important;
}

.menu-list__type{
	color: var(--color-secondary);
}



.menu-list__ingredients:not(:last-child):after{
	content: ',';
}

.menu-list__right-col{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}


/* footer */

.footer__row{
	display: flex;
	justify-content: center;
}


/* items gallery */

.items-gallery{
	display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.items-gallery li{
	width: calc(33.33333% - 10.66667px);
	margin: 0 16px 16px 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.items-gallery li:nth-of-type(3n),
.items-gallery li:last-child{
	margin-right: 0;
}

.items-gallery li img{
	width: 100%;	
	height: 100%;
    flex: 1;
    object-fit: cover;
	border-radius: 4px;
}

/* banner */

.banner{
	margin-top: 100px;
	margin-bottom: 100px;
}

.banner .container{
	/*background: url('images/blob-bistro-bg-responsive.png');
	background-repeat: no-repeat;
	background-position: right center;*/
	border-radius: 5px;
    box-shadow: 0px 6px 25px 0px rgba(62, 2, 16, 0.06);
}

.banner__cta div{
	position: relative;
}

.banner__cta div:before{
    content: '';
    position: absolute;
    width: 200%;
    height: 100%;
    background-color: var(--color-secondary);
    left: -100%;
    z-index: -1;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.banner__image{
	clip-path:	polygon(51% 12%, 85% 1%, 100% 0, 100% 59%, 75% 88%, 0 100%, 0 100%, 16% 41%, 0 12%);
    -webkit-clip-path: polygon(51% 12%, 85% 1%, 100% 0, 100% 59%, 75% 88%, 0 100%, 0 100%, 16% 41%, 0 12%);
}

.banner__image img{
	object-fit: cover;
}

/* order section */

.order-section{
	overflow-x: hidden;
}

.order-section h6{
	font-size: 14px;
	letter-spacing: 1.4px;
}

.order-section__latest{
	position: relative;
}

.order-section__latest:before{
    content: '';
    width: 100%;
    border-top: 1px solid #d4d4d4;
    position: absolute;
    top: 0;
    left: -5px;
    width: 299%;
}

.latest__exceprtion{
	font-size: 14px;
	color: #222222b3;
}

.latest__meta{
	color: var(--color-secondary);
	text-transform: uppercase;
}

.latest__meta:after{
	content: '|';
	margin-left: 7px;
	margin-right: 7px;
	display: inline-block;
	color: #d4d4d4;
	
}


/* modal additional options */

#modal-additional-options{
	z-index: 9999999999;
}

#modal-additional-options .modal-header{
	position: sticky;
	top: 0;
	width: 100%;
	background-color: white;
	z-index: 2;
}

#modal-additional-options  .modal-body{
	max-height: 60vh;
    overflow-y: scroll;
}

#modal-additional-options .modal-body::-webkit-scrollbar,
#checkout-modal .modal-body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
#modal-additional-options .modal-body::-webkit-scrollbar-track,
#checkout-modal .modal-body::-webkit-scrollbar-track{
  background: #f1f1f1;
}

/* Handle */
#modal-additional-options .modal-body::-webkit-scrollbar-thumb,
#checkout-modal .modal-body::-webkit-scrollbar-thumb{
  background: #888;
}

/* Handle on hover */
#modal-additional-options .modal-body::-webkit-scrollbar-thumb:hover,
#checkout-modal .modal-body::-webkit-scrollbar-thumb:hover{
  background: #555;
}

#modal-additional-options .modal-footer{
	position: sticky;
	bottom: 0;
	width: 100%;
	background-color: white;
	z-index: 2;
}

#modal-additional-options label{
	font-size: 14px;
}

.option-group{
	display: flex;
	flex-wrap: wrap;
}

.option-group:not(:last-child){
	border-bottom: 1px solid #d4d4d4;
	margin-bottom: 20px;
}

.option-group .custom-checkbox,
.option-group .custom-radio{
	width: 50%;
	margin-bottom: 10px;
}

.option-group .custom-checkbox:nth-child(odd),
.option-group .custom-radio:nth-child(odd){
	padding-right: 20px;
}

.option-group .custom-checkbox,
.option-group .custom-radio{
	padding-left: 30px;
}

.custom-control-input{
	width: 20px;
    height: 24px;
}

#modal-additional-options .custom-control-label::after,
#modal-additional-options .custom-control-label::before {
	width: 20px;
	height: 20px;
}

#modal-additional-options .custom-control-label::after{
	top: 0;
	left: -30px;
}

#modal-additional-options .custom-control-label::before {
	top: 0;
	left: -30px;
}

.custom-control-input:checked~.custom-control-label::before,
{
	border-color: var(--color-secondary);
    background-color: var(--color-secondary);
}

.option-group .form-group{
	width: 50%;
}

.option-group .form-group:nth-child(odd){
	padding-right: 20px;
}

#modal-additional-options .option-group .quantity-button{
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 15px;
	font-weight: 400
}

#modal-additional-options .modal-footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* footer */

.footer{
	background-color: #f4f2f5;
	padding-top: 100px;
	padding-bottom: 80px;
}

.footer__nav a{
	padding: 10px 15px;
	color: black;
}


/* RESPONSIVENESS */

.header__checkout{
	display: none;
}

@media only screen and (max-width: 1120px) {
	
	.header__checkout{
		display: block;
	}
	
	/* hero section */
	
	.hero-section{
		padding-top: 90px;
	}
	/* menu list */
	
	.row-menu{
		margin-top: 40px;
	}
	
	.menu-list__item{
		flex-direction: row;
    	align-items: flex-start;
	}
	
	.menu-list__right-col{
		flex-direction: column;
    	align-items: flex-end;
		margin-top: 10px;
	}
	
	.menu-list__price{
		padding-left: 0;
	}
	
	.single-item__image{
		height: 250px;
	}
	
	/* items gallery */


}


/* modal checkout */
/*
#checkout-modal .modal-dialog{
	position: absolute;
    right: -100%;
    top: 0;
	margin-top: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	height: 100vh;
	transition: all .5s ease-out;
transition: all .5s ease-out;
transition: all .5s ease-out;

}*/
/*
#checkout-modal.show .modal-dialog{
	right: 0;
	width: 100vw;
	margin: 0;
}
*/
#checkout-modal{
	padding-right: 0 !important;
	overflow: hidden;
	z-index: 999999999;
}

#checkout-modal .modal-dialog{
	margin-right: 0;
    margin-top: 0;	
	height: 100%;
	overflow-y: scroll;
}

#checkout-modal .modal-body{
	background-color: white;
	overflow-y: scroll;
	padding-top: 0;
}

#checkout-modal .modal-content{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	height: 100vh;
}

#checkout-modal .modal-header{
	border-top-right-radius: 0;
	background-color: white;
	z-index: 2;
}

#checkout-modal .modal-footer{
	border-bottom-right-radius: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	bottom: 0;
	width: 100%;
	background-color: white;
	z-index: 2;
}

#checkout-modal .modal-header{
	position: sticky;
	top: 0;
	width: 100%;
}

.checkout-modal-edit{
	font-weight: 500;
	color: var(--color-secondary);
	padding-right: 0;
	margin-top: 10px;
}

.checkout-modal-edit:hover{
	color: var(--color-primary);
}

@media (max-width: 991px){
	
	.header .navbar {
		padding-top: 5px;
		padding-bottom: 10px;
	}
	
	.header__checkout{
		position: sticky;
		position: fixed;
		right: 0;
		top: 10px;
		z-index: 99999;
	}
	
	.header__checkout span{
		display: none;
	}
	
}

@media (max-width: 766px) { 
	
	/* #checkout-modal .menu-list__right-col{
		position: relative;
		width: 100%;
	} */
	
	#checkout-modal .checkout-modal-edit{
		position: absolute;
		right: 0;
		bottom: -0;
	}
}
	
	@media (max-width: 575px){
		#checkout-modal .modal-dialog,
		#modal-additional-options .modal-dialog{
			width: 100vw;
			height: 100vh;
			margin: 0;
			border: none;
			border-radius: 0;
		}
		
		#checkout-modal .modal-content,
		#modal-additional-options .modal-content{
			width: 100vw;
			height: 100vh;
			border: none;
    		border-radius: 0;
		}
		
		#modal-additional-options .modal-body{
			max-height: 100%;
		}
		
		#modal-additional-options .modal-footer,
		#checkout-modal .modal-footer{
			box-shadow: 0 0px 16px 0px #00000042;
		}

		.option-group .custom-checkbox, .option-group .custom-radio,
		.option-group .form-group{
			width: 100%;
		}
		
		
	}
	



/* NEW STYLES */

/* hero */

.hero-wrapper{
	background-position: center;
	background-size: cover;
	background-image: url('/images/food.jpg');
	padding: 230px 0 60px;
	position: relative;
}

.hero-wrapper:before{
	content: '';
	width: 100%;
	height: 100%;
	background-color: #0000001c;
	position: absolute;
	top: 0;
	left: 0;
}

.hero-content{
	border-radius: 6px;
	background-color: #fff;
	padding: 30px;
	z-index: 9;
}

.hero-features{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 20px;
	opacity: 0.6;
}

.hero-features img{
	height: 25px;
	width: auto;
}

/* row layout */

.products-row-layout .single-product{
	display: flex;
	align-items: stretch;
    justify-content: flex-start;
}

.products-row-layout .single-product__image{
	margin-bottom: 0;
	margin-right: 15px;
}

.products-row-layout .single-product__image img{
	height: 100%;
	width: 140px;
}

/* grid lyout */

.single-product{
	border-radius: 6px;
	box-shadow: 0px 0px 13px 3px #00000012;
    background-color: #fff;
	padding: 20px;
	transition: 0.3s all;
	cursor: pointer;
	margin-bottom: 30px;
}

.single-product:hover{
	box-shadow: 0px 0px 8px 2px #00000021;
}

.single-product__image{
	margin-bottom: 15px;
}

.single-product__image img{
	width: 100%;
    max-height: 140px;
    object-fit: cover;
	border-radius: 4px;
}

.single-product__title{
	font-size: 20px;
	font-weight: 700;
}

.single-product__ingredients{
	font-size: 14px;
	color: #adadad;
}

.single-product__footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}

.single-product__price{
	padding-right: 15px;
	font-weight: 600;
}

.single-product__buttons{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.single-product__buttons .single-product__button--minus,.single-product__buttons input,
.single-product__buttons .single-product__button--edit{
	visibility: hidden;
}

.single-product__buttons .single-product__button--edit{
	font-size: 16px;
}

@media (max-width: 991px){
	
	.single-product.active .single-product__buttons .single-product__button--minus,
	.single-product.active  .single-product__buttons input,
	.single-product.active  .single-product__buttons .single-product__button--edit{
		visibility: visible;
	}
	
}


/*
.single-product.active .single-product__footer{
	flex-wrap: wrap;
}*/


.single-product.active .single-product__buttons{
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.single-product input,
.single-product .form-control:disabled,
.single-product .form-control[readonly]{
	border: none; 
	background-color: #fff;
	width: 2rem;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	padding: 0;
	font-weight: 600;
}

.single-product__button{
	background-color: var(--primary);
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 50%;
	transition: 0.3s all;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.single-product__button:hover{
	color: white;
	text-decoration: none;
	opacity: 0.8;
}


/* checkout */

.checkout{
	position: sticky;
	top: 20px;
	box-shadow: 0px 0px 13px 3px #00000012;
	border-radius: 8px;
	background-color: #fff;
	padding: 30px 20px;
}

.checkout__features{
	display: flex;
    justify-content: center;
}

.checkout__features div{
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
	margin: 10px;
}

.checkout__features img{
	height: 30px;
	width: auto;
}


/* checkout list */

.checkout__list{
	height: 400px;
	overflow-y: scroll;
	background: #f9f9f985;
	width: calc(100% + 40px);
    margin-left: -20px;
	border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

/* width */
.checkout__list::-webkit-scrollbar {
  width: 0;
}

/* Track */
.checkout__list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.checkout__list::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.checkout__list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.checkout__item{
	display: flex;
    flex-direction: row;
    align-items: flex-start;
	flex-wrap: wrap;
	padding: 20px;
    border-bottom: 1px solid #ececec;
}

.checkout__item--qty{
	width: 2rem;
	font-weight: 600;
	overflow: hidden;
}

.checkout__item--title{
	padding-left: 10px;
	padding-right: 10px;
	width: calc(100% - 2rem - 4rem);
	position: relative;
}

.checkout__item--addons{
	font-size: 13px !important;
	color: #adadad;
}

.checkout__item--price{
	width: 4rem;
	font-weight: 600;
}

.checkout__item--buttons{
	width: 100%;
	padding-left: 2.6rem;
	display: flex;
	justify-content: space-between;
}

.single-product__button--edit{
	padding: 0;
    font-size: 12px;
    color: var(--primary);
    font-weight: 600;
}

.checkout__item--second .checkout__item--title{
	width: 100%;
	padding-left: 0;
	padding-right: 20px;
}

.checkout__item--delete{
	position: absolute;
    top: -10px;
    right: 0;
    font-weight: bold;
	font-size: 24px;
	cursor: pointer;
}

.checkout__item--delete:hover{
	color: red;
}

.checkout__item--second .checkout__item--buttons{
	padding-left: 0;
}

.order-button{
	color: #fff;
	font-size: 20px;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
}



/* modal */

.modal-additional .modal-header{
	position: sticky;
	padding: 40px;
	padding-right: 40px;
}

.modal-additional .modal-footer{
	background-color: #fff;
}

.modal-additional .modal-footer .btn{
	font-size: 16px;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 30px;
}


.modal-additional .modal-header .close{
    position: absolute;
    right: 13px;
    top: 13px;
    color: black;
    opacity: 1;
}

.modal-additional .modal-content{
	overflow: hidden;
	border: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.modal-additional .modal-body{
	max-height: 60vh;
	overflow-y: scroll;
	padding: 40px;
	padding-top: 0;
}

/* width */
.modal-additional .modal-body::-webkit-scrollbar {
  width: 0;
}

/* Track */
.modal-additional .modal-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.modal-additional .modal-body::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.modal-additional .modal-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modal-form{
	padding: 0 0 10px 0;
}

/*.modal-form > div:not(:last-child){
	margin-bottom: 50px;
}*/

.modal-form__title{
	margin-top: 40px;
	margin-bottom: 25px;
}

.modal-form__title h6{
	border-bottom: 1px solid #dedede;
    padding-bottom: 5px;
	margin-bottom: 3px;
	font-weight: 600;
}

.modal-form__title p{
	font-size: 12px;
	color: #adadad
}

.modal-form__title span{
	font-size: 12px;
	font-weight: 600;
	color: var(--primary);
}


.modal-form .form-group{
	padding: 5px 10px;
	border-radius: 6px;
	background-color: #fff;
	border: 1px solid #d8d8d8;
	display: flex;
    align-items: flex-start;
    justify-content: space-between;
	margin-top: 10px;
	font-weight: 600;
	transition: 0.1s all;
	position: relative;
	overflow: hidden;
}

.modal-form .form-group:hover{
	border: 1px solid #ababab;
	cursor: pointer;
}

.modal-form .form-group:before{
	content: '';
	position: absolute;
	width: 0;
	height: 100%;
	background-color: #007bff29;
	transition: width 0.3s;
	transition-timing-function: ease-out;
	top:0;
	left: 0;
	z-index: 0;
}

.modal-form .form-group.active:before{
	width: 100%;
}

.modal-form .form-group.active{
	border: 1px solid #007bff66;
}

.modal-form .form-group label{
	margin-top: 7px;
    margin-bottom: 0;
	padding-right: 15px;
	font-weight: 400;
    z-index: 1;
    font-size: 14px;
	z-index: 1;
}

.modal-form .form-group label span{
	color: var(--primary);
	font-weight: 500;
}


.modal-form .form-group  > div{
	z-index: 1;
}

.modal-form .form-group input[type=number]{
	padding: 0px 5px;
	margin: 0 5px;
    border-radius: 6px;
    border: none;
	text-align: center;
    display: flex;
	width: 3rem;
	z-index: 1;
}

.modal-form .form-group input[type=number]:disabled,
.modal-form .form-group input[readonly]{
	background-color: white;
}


.modal-form .custom-radio,
.modal-form .custom-control-label,
.modal-form .custom-checkbox{
	width: 100%;
	padding-left: 0;
}

.modal-form .custom-control-input{
	right: 0;
	left: unset;
}

.modal-form .custom-control-label::before,
.custom-control-label::after{
	right: 0;
	top: 0;
	left: unset;
}

.modal-additional .btn.add-to-cart{
	color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 30px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* new slider */

#primary-category-slider{
	display: none;
}

#secondary-category-slider{
	width: 100%;
/*	padding: 20px;*/
	text-align: center;
}

#secondary-category-slider .splide__slide{
	padding: 7.5px;
	
}



/*
#secondary-category-slider .splide__list{
	padding: 20px !important;
}
*/

.checkout__header{
	position: relative;
}

.checkout-hide{
	display: block;
	position: absolute;
    top: -40px;
    right: -10px;
    font-size: 40px;
    font-weight: 500;
}

@media (min-width: 992px){
	.checkout-hide{
		display: none;
	}
}

.slide__image:hover{
	text-decoration: none;
}

#secondary-category-slider p{
	font-weight: 600;
    font-size: 18px;
    margin-bottom: 0;
    padding: 5px 10px 0;
	color:#212529;
	text-decoration: none;
}

#secondary-category-slider .splide__slide .slide__image{
	box-shadow: 0px 0px 8px 2px #00000012;
	background-color: #fff;
	border-radius: 6px;
	transition: 0.3s all;
	padding: 15px;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	min-height: 100px;
}

#secondary-category-slider .splide__slide .slide__image:hover{
	box-shadow: 0px 0px 8px 2px #00000021;
}

#secondary-category-slider .splide__slide .slide__image > div{
	height: 80%;
}

.splide--nav>.splide__track>.splide__list>.splide__slide.is-active {
    border: none !important;
}

#secondary-category-slider .splide__slide img{
	height: 10vw;
    width: 100%;
    object-fit: cover;
	border-radius: 4px;
}

@media (max-width: 992px){
	
	#secondary-category-slider .splide__slide .slide__image{
		padding: 10px;
	}
	
	#secondary-category-slider p{
		font-size: 12px;
		overflow: hidden;
	}
	
	#secondary-category-slider .splide__slide {
		padding: 2.5px;
	}
	
	#secondary-category-slider .splide__slide img {
    	height: 18vw;
		max-height: 100px;
	}
	
}

@media (max-width: 768px){
	
	.modal-additional .modal-dialog{
		width: 100vw;
		height: 100vh;
		max-width: 100vw;
		margin: 0;
	}
	
	.modal-additional .modal-content{
		border-radius: 0;
		height: 100%;
	}
	
	.modal-additional .modal-header{
		padding: 20px;
	}
	
	.modal-additional .modal-body{
		padding: 20px;
		padding-top: 0;
		max-height: 100vh;
	}
	
	.modal-form__title{
		
	}
	
	.checkout{
		position: fixed;
		top: 0;
		right: -100%;
		width: 100vw;
		height: 100vh;
		z-index: 999999;
		border-radius: 0;
		transition: .35s all;
	}
	
	.checkout.active{
		right: 0;
	}
	
	.checkout__list{
		height: 65vh;
	}
	
	
}

.modal-additional{
	z-index: 999999;
}

























