.width-650{
    margin: 0 auto;
}

.manual-content .heading{
    text-align: center;
    color: #fff;
}

.faq-page{
    display: flex;
    flex-direction: column;
}

.faq-page{
    margin: 0 auto;
}

.faq-login{
    flex-grow:1;
}

.panel {
    padding: 0 18px;
    background-color: transparent !important;
    color: #fff !important;
    border:   1px solid transparent !important;
    box-shadow: none !Important;
}
.panel p{
    margin: 18px 0;
    font-family: 'caption-light', sans-serif;
}

.svg-overflow svg{
    overflow: visible;
}

.background-yankee .active, .background-yankee .accordion:hover {
    background-color: #18386663;
}

.background-green .active, .background-green .accordion:hover {
    background-color: #66a694;
}
input[type="checkbox"] {
    zoom: 3;
}

img {
    border: 0px;
}
.selectWrapper {
    border-radius: 50px;
    overflow: hidden;
    background: #eec5a7;
    border: 0px solid #ffffff;
    padding: 5px;
    margin: 0px;
}

.selectBox {
    background: #eec5a7;
    width: 100%;
    height: 25px;
    border: 0px;
    outline: none;
    padding: 0px;
    margin: 0px;
}

#backOfficeMainH1 {
    font-size: 400% !important;
    color: #496183 !important;
    margin-bottom: 20px !important;
}


@media screen and (max-width: 680px) {
    .columns .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
    #backOfficeMainH1 {
        font-size: 300% !important;
    }

    #userNameAndId {
        display: none !important;
    }
    #navElement {
        width:70%;
    }

    .navElements {
        width: 30%;
    }

}
