
/* MODAL CSS */

/* modal */

.image-modal.fade.show{
	opacity: 1 !important;
}

/* image modal */

.image-modal{
	position: fixed !important;
    width: 100% !important;
    height: 100% !important;
	cursor: pointer;
	z-index: 99999;
}


/*.image-modal:before{
	content: '';
	width: 100%;
	height: 100%;
	background-color: #0000007a;
	position: absolute;
	top: 0;
	left: 0;
}*/

.image-modal .modal-dialog{
	top: 40px;
	text-align: center;
	cursor: pointer;
	position: relative;
}

.image-modal .modal-content{
	padding: 30px;
	background-color: white;
	box-shadow: 0px 0px 10px 5px #00000057;
}

.modal-image-container{
	position: relative;
}

.image-modal .btn{
	position: absolute;
    right: -30px;
    top: -30px;
	width: 30px;
	height: 30px;
    border-radius: 50%;
    background-color: coral;
    opacity: 1;
}

.image-modal .btn p{
	text-shadow: none;
	color: white;
	margin-bottom: 0;
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.modal-image-container .btn:hover{
	cursor: pointer;
}

.image-modal img{
	width: auto;
	max-width: 100%;
	max-height: 60vh;
	box-shadow: 0px 0px 10px 5px #00000057;
}

@media (max-width: 575px){
	
	.image-modal .modal-dialog{
		margin-top: 40px !important;
	}
	
	.image-modal .modal-content {
		padding: 20px;
	}
	
	.image-modal img{
		box-shadow: none;
	}
	
	.image-modal .btn{
		right: 0px;
    	top: -40px;
	}
}




