*{
	box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

.iframe-popup{
	max-width: 540px;
	width: calc(100% - 40px);
	height: 400px;
	box-shadow: 0 0 18px 1px #0000001f;
	border-radius: 8px;
	position: fixed;
	bottom: 40px;
	right: 40px;
	padding: 20px;
	display: none;
	opacity: 0;
	transition: 0.4s;
}

.iframe-popup.show{
    animation-name: popup_open;
    animation-duration: 0.4s;	
	animation-fill-mode: forwards;
	display: block !important; opacity: 1 !important;
}

/* The animation code */
@keyframes popup_open {
  from {display: none; opacity: 0;}
  to {display: block !important; opacity: 1 !important;}
}

.iframe-popup__close{
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	box-shadow: 0 0 18px 1px #0000001f;
	cursor: pointer;
	right: -12px;
	top: -12px;
	background-color: white
}

.iframe-popup__close:before, 
.iframe-popup__close:after{
	content:'';
	display: block;
	height: 10px;
	width: 2px;
	background-color: black;
	position: absolute;
	left: 11px;
    top: 7px;
}

.iframe-popup__close:before{
	transform: rotate(45deg)
}

.iframe-popup__close:after{
	transform: rotate(-45deg)
}

.iframe-popup__content{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

@media only screen and (max-width: 640px){

	.iframe-popup{
		max-width: 100vw;
		width: 100vw;
		right: 0;
		bottom: 0;
		border-radius: 0;
	}

	.iframe-popup__close {
		right: 10px;
	}
	
}

/* code for custom scroll bar, please use it for html tag on agenda page, change colors to fit design */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}





