/* $base-background: #00CC99; */
/**/
.p.covid {
	color: #131e3a;
}

.btn {
	border-radius: 2px;
	padding: 8px 12px;
	color: #c7ffd9;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}

.card {
	background-color: #ffe294;
	color: #131e3a;
	max-width: 90%;
	margin: 30px auto;
	border-radius: 12px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	box-sizing: border-box;
	padding: 15px;
	text-align: center;
}

.products {
	position: relative;
	min-height: 520px;
	overflow: hidden;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}

.product {
	position: absolute;
	top: 1px;
	left: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
	margin-bottom: 100px; !important;
}

.product.active {
	opacity: 1;
	visibility: visible;
}

.product.background-orange {
	background-color: #ffe294;
	color: #131e3a;
}

.thumbnail {
	margin: 0 0 48px;
}

.title {
	margin: 0 0 12px;
	color: #636a5d;
	font-size: 24px;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}

.description {
	margin: 0 0 48px;
}

.footeronboarding {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: center;
	margin: 0 -12px -12px;
}


.content{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;


}


