.onoffswitch {
    position: relative; width: 131px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 0px solid #999999; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 47px; padding: 0; line-height: 30px;
    font-size: 15px; color: #f3d0b5; font-family: campton-light; font-size: small;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 20px;
    background-color: #e25f2a; color: #e25f2a;
	border: 3px solid #eec5a7; border-radius: 50px;
    text-align: left;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 20px;
    background-color: #eec5a7; color: #446087;
	border: 0px solid #ffffff; border-radius: 50px;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 30px; margin: 8.5px;
    background: #e25f2a;
    position: absolute; top: 0; bottom: 0;
    right: 85px;
    border: 0px solid #cb8180; border-radius: 50px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
	background: #eec5a7;
}


